<div class="mosaic-collection-card">
  <div class="mosaic-collection-card__media">
    {{ 'collection-1' | placeholder_svg_tag: 'mosaic-collection-card__image placeholder-svg' }}
    
    <div class="mosaic-collection-card__overlay">
      <h3 class="mosaic-collection-card__title">
        Collection title
      </h3>
      
      <div class="mosaic-collection-card__count">
        12 products
      </div>
    </div>
  </div>
</div>
