<div class="mosaic-product-card">
  <div class="mosaic-product-card__media">
    {{ 'product-1' | placeholder_svg_tag: 'mosaic-product-card__image placeholder-svg' }}
  </div>
  
  <div class="mosaic-product-card__content">
    <div class="mosaic-product-card__vendor">Vendor</div>
    
    <h3 class="mosaic-product-card__title">
      <a href="#" class="full-unstyled-link">
        Product title
      </a>
    </h3>
    
    <div class="mosaic-product-card__price">
      $19.99
    </div>
  </div>
</div>
